@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: "Roboto Slab', serif";
    
}

.one {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
}

.navbar-left,.navbar-right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    height: 100px;
    width: auto;
}

ul{
    list-style-type: none;
    gap: 10px;
    display: flex;
}

.one .left {
    display: flex;
}

.h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

img {
    margin-bottom: 20px;
}

.p-first {
    font-size: 18px;
    color: #E5E7EB;

}

.signup-first {
    background-color: #3882F6;
    border: 1px solid #3882F6;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    
}

.two {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1em;
    color: #1F2937
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 50%;
    gap: 30%;
    margin-bottom: 25px;
    
}

.blue-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-box img {
    padding: 2em;
    border: 2px solid #3882F6;
    border-radius: 25%;
    max-height: 90px;
    max-width: 90px;
}

.three {
    background-color:#E5E7EB;
    display: flex;
    justify-content: center;
    height: 500px;
    flex-direction: column;
    align-items: center;

}

h3 {
    display: flex;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    text-align: left;

}

#quoted {
    display: flex;
    margin-left: 500px;
    font-size: 20px;
    font-weight: 800;
}

.four {
    background-color: #FFFFFF;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble {
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    border: #3882F6;
    border-radius: 10px;
    width: 60%;
    height: 40%;
}

.left {
    width: 80%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h4 {
    font-size: 24px;
    color: white;
    
}

.product {
    color: white;
    font-size: 18px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.signup-last {
    background-color: #3882F6;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    width: 100px;
    height: 40px;
    
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    height: 70px;
}